{% extends "layout.html" %}
{% block content %}

    <div style="text-align:center; vertical-align:middle;">
        <h1>Search now!</h1>
    </div>

{#    <div style="text-align:center; vertical-align:middle;">#}
{#        <input type="text">#}
{#        <input type="submit" value="Search" id="su" class="btn self-btn bg s_btn">#}
{#    </div>#}


    <div style="text-align:center; vertical-align:middle;">
        <form method="POST" action='{{ url_for('coursesearch') }}'>
            <input type="text" name="content" id="content" placeholder="请输入搜索内容">
            <input type="submit" value="Search" id="su" class="btn self-btn bg s_btn">
        </form>
    </div>

{#    <form method="POST" action="/wstmsearch">#}
{#        <input type="search" name="keyword" ><br>#}
{#        <input type="submit" value="搜索">#}
{#    </form>#}


{% endblock content %}