{% extends "layout.html" %}
{% block content %}

    <div style="text-align:center; vertical-align:middle;">
{#        <input type="text" class="s_ipt" name="wd" id="kw" maxlength="200" autocomplete="off">#}
        <h1>Search now!</h1>
    </div>

    <div style="text-align:center; vertical-align:middle;">
{#        <input type="text" class="s_ipt" name="wd" id="kw" maxlength="200" autocomplete="off">#}
        <input type="text">
        <input type="submit" value="Search" id="su" class="btn self-btn bg s_btn">
    </div>
{#    <input id="fakebox-input" autocomplete="off" tabindex="-1" type="url" aria-hidden="true">#}


{% endblock content %}